body{
    background: linear-gradient(to right, #085078, #85d8ce);
color: whitesmoke;
}



.btn {
    background-color: #0f1e32;
    color: whitesmoke;

}

.header{
    background-image: url(docs/img/banner\ mar\ playa.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 15rem;
    
}

h1 {
    font-size: 4rem;
    font-family: 'Arima', cursive;
    text-align: center;
}


.formcontrol {
    margin: 15px;
}





.table {
    color: whitesmoke;
}



footer {
    text-align: center;
}